.sidebar { 
    width: 80px;
    height: 100vh;
    transition: width .2s ease-out;
    position: fixed;
  }
  

  /* .sidebar-open .sidebar-title{
    display: block;
  } */

 .sidebar-open  {
    width: 280px;
    /* box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1); */
    height: 100vh;
    position: fixed;
    
  }

  .sidebar:hover {
    background-color: white;
    width: 280px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    z-index: 999999;
    
  }
  
  .sidebar:hover .sidebar-title { 
    display: block;
   }
  
 .sidebar .sidebar-title { 
    display: none;
 }
